<!DOCTYPE HTML>
<html xmlns="http://www.thymeleaf.org">
<script src="main.js"></script>
<head>
  <title>Your first Spring application</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title >Other Page</title>
</head>
<body>
<h1>Other Page</h1>
<table border>
  <tr>
    <td>id</td>
    <td>[[${response2.id}]]</td>
  </tr>
  <tr>
    <td>name</td>
    <td>[[${response2.name}]]</td>
  </tr>
  <tr>
    <td>username</td>
    <td>[[${response2.username}]]</td>
  </tr>
  <tr>
    <td>lat</td>
    <td>[[${response2.lat}]]</td>
  </tr>
  <tr>
    <td>lng</td>
    <td>[[${response2.lng}]]</td>
  </tr>
</table>

<div><h1>randomUser</h1></div>

<!--ここからランダムユーザーapiの情報を表示-->
<table border>
  <tr>
    <td>gender</td>
    <td id="gender"></td>
  </tr>
  <tr>
    <td>name</td>
    <td id="name"></td>
  </tr>
  <tr>
    <td>country</td>
    <td id="country"></td>
  </tr>
  <tr>
    <td>email</td>
    <td id="email"></td>
  </tr>
</table>

</body>
</html>